.resetPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0B0B45;
}

.formPassword {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.formPassword > input {
height: 56.11199951171875px;
width: 284.1226806640625px;
border-radius: 4px;
}

.icon {
    position: absolute;
}

.formPassword > h1 {
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 300;
line-height: 40px;
letter-spacing: 0em;
text-align: center;
color: white;
}

.formPassword > button {
height: 56.11199951171875px;
width: 284.1226806640625px;
border-radius: 4px;
background: #979596;
color: white;
border: none;
}